@charset "UTF-8";
/* bright pastels (@scheme color) */

/* GENERAL */
body, html {
	margin: 0;
	width: 100%;
	height: 100%;
	padding: 0;
	background-color: #F9FFCB;
	text-align: center;
	letter-spacing: 1px;
	font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
	font-size: 16px;
	color: black;
}



/* HEADER */
h1 {
	margin: 0;
	padding: 1vh 0;
}

header {
	background-color: #FF756D;
}

.hidden {
	display: none;
}

.task-head {
	text-decoration: underline;
}

.visible {
	display: block;
}

#chevron {
	transform: scale(2, 1);
	padding-bottom: 1vh;
	font-size: 1.2em;
}

#task {
	position: absolute;
	z-index: 1;
	padding: 0.1vh 10vw;
	background-color: #85DE77;
}



/* MAIN */



/* FOOTER */