@charset "UTF-8";
/* bright pastels (@scheme color) */

/* GENERAL */
body, html {
	margin: 0;
	width: 100%;
	height: 100%;
	padding: 0;
	background-color: #F9FFCB;
	text-align: center;
	letter-spacing: 1px;
	font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
	font-size: 16px;
	color: black;
}



/* HEADER */
h1 {
	margin: 0;
	padding: 1vh 0;
}

header {
	background-color: #FF756D;
}

.hidden {
	display: none;
}

.task-head {
	text-decoration: underline;
}

.visible {
	display: block;
}

#chevron {
	transform: scale(2, 1);
	padding-bottom: 1vh;
	font-size: 1.2em;
}

#task {
	position: absolute;
	z-index: 1;
	padding: 0.1vh 10vw;
	background-color: #85DE77;
}



/* MAIN */
input {
	display: block;
	margin: 0 auto 3vh;
	font-size: 1em;
}

main {
	padding-top: 10vh;
}

.display {
	margin: 3vh 20vw;
	border-bottom: 1px black solid;
	padding-bottom: 0.5vh;
}

.form-input {
	border: none;
	border-bottom: 2px #FF756D solid;
	background-color: transparent;
	font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
	text-align: center;
}

.form-input:focus {
	outline: none;
	border-bottom-color: #85DE77;
}

#form-submit {
	margin-bottom: 5vh;
	border: 2px #FF756D solid;
	padding: 1vh 4vw;
	font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
}

#form-submit:active {
	border-color: #85DE77;
	background-color: aliceblue;
}



/* FOOTER */
footer {
	position: absolute;
	bottom: 0;
	min-width: 100%;
	padding: 1vh 0;
	background-color: #FFF49C;
	font-size: 1em;
}

.more-link {
	color: black;
}

.more-link:active {
	color: red !important;
}

.more-link:hover {
	color: green;
}

#copyright {
	display: block;
}

#more {
	display: flex;
	flex-direction: row;
	justify-content: space-around;

	padding: 1vh 0 0;
	font-size: 1.2em;
}